<pre>
  <!-- [EDUCATIONAL] El pipe 'async' se suscribe al Observable, recupera el último valor,
       y marca el componente para verificación. Cuando el componente se destruye, se desuscribe automáticamente sin fugas de memoria. -->
  {{ (categories | async) | json  }}
</pre>

<form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()">
  <h1>Register Product</h1>
  <div class="field">
    <label for="product-name" class="label">Product Name</label>
    <input type="text" class="input input-product-name" id="product-name" placeholder="Ej: Pasta al ajillo"
      formControlName="name" />
    <div class="error">
      <!-- Verificar el estado general del campo 'name' -->
      @if( this.formData.get('name')?.invalid && ( this.formData.get('name')?.dirty ||
      this.formData.get('name')?.touched ) ) {

      <!-- Verificar las validaciones definidas para el campo 'name' -->
      @if( this.formData.get('name')?.errors?.['required']) {
      <small>El nombre del producto es obligatorio</small>
      }
      @if( this.formData.get('name')?.errors?.['minlength']) {
      <small>El nombre del producto debe tener al menos 3 caracteres</small>
      }
      }
    </div>
  </div>
  <div class="field">
    <label for="product-stock" class="label">Stock</label>
    <input type="number" class="input input-product-stock" id="product-stock" placeholder="Ej: 12"
      formControlName="stock" />
    <div class="error">
      <!-- Verificar el estado general del campo 'stock' -->
      @if( this.formData.get('stock')?.invalid && ( this.formData.get('stock')?.dirty ||
      this.formData.get('stock')?.touched ) ) {

      <!-- Verificar las validaciones definidas para el campo 'stock' -->
      @if( this.formData.get('stock')?.errors?.['required']) {
      <small>Cantidad de producto a registrar es obligatorio</small>
      }
      @if( this.formData.get('stock')?.errors?.['minlength']) {
      <small>Cantidad minima a registrar es 1 producto</small>
      }
      }
    </div>

  </div>
  <div class="field">
    <label for="product-description" class="label">Description</label>
    <textarea class="textarea input-product-description" id="product-description"
      placeholder="Escriba una breve descripcion del plato" formControlName="description"></textarea>
  </div>
  <div class="field">
    <label for="product-category" class="label">Category</label>
    <select formControlName="category" id="product-category" class="input input-product-category">
      <option value="">Seleccione...</option>
      <!-- Populate options dynamically from backend -->
      <!-- [EDUCATIONAL] Usar 'categories | async' asegura que la vista se actualice inmediatamente cuando llegan los datos,
           incluso con la estrategia OnPush y sin la magia de Zone.js. -->
      @for (category of categories | async; track $index) {
      <option [value]="category._id">{{ category.name }}</option>
      }
    </select>
    <div class="error">
      <!-- Verificar el estado general del campo 'category' -->
      @if( this.formData.get('category')?.invalid && ( this.formData.get('category')?.dirty ||
      this.formData.get('category')?.touched ) ) {

      <!-- Verificar las validaciones definidas para el campo 'category' -->
      @if( this.formData.get('category')?.errors?.['required']) {
      <small>Seleccionar categoria es obligatoria</small>
      }
      }
    </div>
  </div>
  <div class="field">
    <label for="product-type" class="label">Type</label>
    <select formControlName="type" id="product-type" class="input input-product-type">
      <option value="">Seleccione...</option>
      <!-- Populate options dynamically from backend -->
      @for (type of types; track $index) {
      <option [value]="type | lowercase">{{ type }}</option>
      }
    </select>
    <div class="error">
      <!-- Verificar el estado general del campo 'type' -->
      @if( this.formData.get('type')?.invalid && ( this.formData.get('type')?.dirty ||
      this.formData.get('type')?.touched ) ) {

      <!-- Verificar las validaciones definidas para el campo 'type' -->
      @if( this.formData.get('type')?.errors?.['required']) {
      <small>Seleccionar tipo es obligatorio</small>
      }
      }
    </div>
  </div>
  <div class="field">
    <label for="price-product" class="label">Price</label>
    <input type="number" class="input input-product-price" id="price-product" placeholder="Ej: $10.00"
      formControlName="price" />
    <div class="error">
      <!-- Verificar el estado general del campo 'price' -->
      @if( this.formData.get('price')?.invalid && ( this.formData.get('price')?.dirty ||
      this.formData.get('price')?.touched ) ) {

      <!-- Verificar las validaciones definidas para el campo 'price' -->
      @if( this.formData.get('price')?.errors?.['required']) {
      <small>El precio del producto es obligatorio</small>
      }
      @if( this.formData.get('price')?.errors?.['min']) {
      <small>El precio del producto debe ser mayor o igual a cero</small>
      }
      }
    </div>
  </div>
  <div class="field">
    <label for="product-image" class="label">Image</label>
    <input type="text" class="input input-product-image" id="product-image" formControlName="image_url"
      placeholder="Ej: https://www.example.com/image.jpg" />
    <div class="error">
      <!-- Verificar el estado general del campo 'image_url' -->
      @if( this.formData.get('image_url')?.invalid && ( this.formData.get('image_url')?.dirty ||
      this.formData.get('image_url')?.touched ) ) {

      <!-- Verificar las validaciones definidas para el campo 'price' -->
      @if( this.formData.get('image_url')?.errors?.['required']) {
      <small>La url de la imagen del producto es obligatorio</small>
      }
      @if( this.formData.get('image_url')?.errors?.['minlength']) {
      <small>La url de la imagen del producto debe tener al menos 10 caracteres</small>
      }
      }
    </div>
  </div>
  <div class="field">
    <label for="product-status" class="label">Status</label>
    <div class="option-status">
      <input type="radio" class="input-product-status input-product-status--active" id="product-status-active"
        formControlName="status" value="active" />
      <label for="product-status-active" class="product-state-active">Active</label>
      <input type="radio" class="input-product-status input-product-status--notactive" id="product-status-notactive"
        formControlName="status" value="inactive" />
      <label for="product-status-notactive" class="product-state-active">Not Active</label>
    </div>
  </div>
  <div class="field field--buttons">
    <button type="submit" [disabled]="this.formData.invalid">Register Product</button>
    <button (click)="onReset()">Reset Form</button>
  </div>
</form>