<nav class="navbar">
  <ul class="menu">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/dashboard/categories">Categories</a></li>
    <li><a routerLink="/dashboard/categories/new">Category new</a></li>
    <li><a routerLink="/dashboard/categories/edit">Category edit</a></li>
    <li><a routerLink="/dashboard/users">Users</a></li>
    <li><a routerLink="/dashboard/users/new">User new</a></li>
    <li><a routerLink="/dashboard/users/edit">User edit</a></li>
  </ul>

  <!-- Desplegar información del usuario actual en funcion de si esta autenticado o no -->
  @if( httpAuth.currentUser$ | async; as user ) {
    <p>Bienvenido, {{ user.name }} ({{ user.role }})</p>
    <ul class="menu">
      <li><button (click)="onLogout()" >Logout</button></li>
    </ul>
  }
  @else {
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Register</a></li>
  }

</nav>
