<nav class="navbar">
  <ul class="menu">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/dashboard/products">Products</a></li>
    <li><a routerLink="/dashboard/product/new">Product new</a></li>
    <li><a routerLink="/dashboard/product/edit">Product edit</a></li>
    <li><a routerLink="/dashboard/categories">Categories</a></li>
    <li><a routerLink="/dashboard/categories/new">Category new</a></li>
    <li><a routerLink="/dashboard/categories/edit">Category edit</a></li>
    <li><a routerLink="/dashboard/users">Users</a></li>
    <li><a routerLink="/dashboard/users/new">User new</a></li>
    <li><a routerLink="/dashboard/users/edit">User edit</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Register</a></li>
    <!-- TODO: Add logout functionality -->
    <li><button (click)="onLogout()" >Logout</button></li>
  </ul>
</nav>
